Source: fractgen
Section: graphics
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: http://www.iem.uni-due/~dreibh/fractalgenerator/index.html
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libfile-fcntllock-perl,
               qtbase5-dev
Standards-Version: 4.1.4

Package: fractgen
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: rsplib-tools
Description: calculates fractal images
 FractGen is a simple Qt-based fractal generator program for Mandelbrot
 fractals. The image size is only limited by virtual memory. It is possible
 to zoom into images. Image parameters can be saved in XML files and loaded
 from XML files. Calculated images can be exported as PNG files.
 .
 The intention of this program is to generate graphics to be post-processed
 by other image tools, e.g. in order to generate nice screen backgrounds or
 book covers.
