Source: fractgen
Section: graphics
Priority: optional
Maintainer: Thomas Dreibholz <thomas.dreibholz@gmail.com>
Homepage: https://www.nntb.no/~dreibh/fractalgenerator/
Vcs-Git: https://github.com/dreibh/fractgen.git
Vcs-Browser: https://github.com/dreibh/fractgen
Build-Depends: cmake,
               debhelper (>= 12),
               extra-cmake-modules (<< 6.0.0) | libkf6coreaddons-dev,
               extra-cmake-modules (<< 6.0.0) | libkf6xmlgui-dev,
               extra-cmake-modules (<< 6.0.0) | qt6-base-dev,
               extra-cmake-modules (<< 6.0.0) | qt6-l10n-tools,
               extra-cmake-modules (>= 6.0.0) | libkf5coreaddons-dev,
               extra-cmake-modules (>= 6.0.0) | libkf5xmlgui-dev,
               extra-cmake-modules (>= 6.0.0) | qtbase5-dev,
               extra-cmake-modules (>= 6.0.0) | qttools5-dev-tools
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: fractgen
Architecture: any
Depends: fractgen-common (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: fractgen-examples (>= ${source:Version}),
            rsplib-tools
Description: fractal images calculation application (Qt version)
 FractGen is a simple Qt-based fractal generator program for Mandelbrot
 fractals. The image size is only limited by virtual memory. It is possible
 to zoom into images. Image parameters can be saved in XML files and loaded
 from XML files. Calculated images can be exported as PNG files.
 .
 The intention of this program is to generate graphics to be post-processed
 by other image tools, e.g. in order to generate nice screen backgrounds or
 book covers.
 .
 This is the Qt version of FractGen.

Package: kfractgen
Architecture: any
Depends: fractgen-common (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: fractgen-examples (>= ${source:Version}),
            rsplib-tools
Description: fractal images calculation application (KDE version)
 FractGen is a simple Qt-based fractal generator program for Mandelbrot
 fractals. The image size is only limited by virtual memory. It is possible
 to zoom into images. Image parameters can be saved in XML files and loaded
 from XML files. Calculated images can be exported as PNG files.
 .
 The intention of this program is to generate graphics to be post-processed
 by other image tools, e.g. in order to generate nice screen backgrounds or
 book covers.
 .
 This is the KDE version of FractGen.

Package: fractgen-common
Architecture: all
Depends: ${misc:Depends}
Description: common files for FractGen
 FractGen is a simple Qt-based fractal generator program for Mandelbrot
 fractals. The image size is only limited by virtual memory. It is possible
 to zoom into images. Image parameters can be saved in XML files and loaded
 from XML files. Calculated images can be exported as PNG files.
 .
 The intention of this program is to generate graphics to be post-processed
 by other image tools, e.g. in order to generate nice screen backgrounds or
 book covers.
 .
 This package contains commen files for the Qt and KDE FractGen versions.

Package: fractgen-examples
Architecture: all
Depends: ${misc:Depends}
Description: example files for FractGen
 This package contains some example input files for the fractal generator
 program FractGen. The example files contain the parameters for the
 fractal calculations. FractGen can perform the computations and display
 the resulting images.
