[Desktop Entry]
Exec=fractgen %f
Icon=kformula
MimeType=application/x-fgp
Name=FractGen
GenericName[de]=Fraktalgenerator
GenericName[no]=Fraktalgenerator
GenericName=Fractal Generator
Categories=Math;Graphics;RasterGraphics;Qt
Keywords=Fractal;Mandelbrot;Math;Graphics
Keywords[de]=Fraktal;Mandelbrot;Math;Graphics
Keywords[no]=Fraktal;Mandelbrot;Math;Graphics
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
