[Desktop Entry]
Exec=/usr/bin/fractgen
Icon=kformula
MimeType=
Name[de]=Fraktalgenerator
Name[no]=Fraktalgenerator
Name=Fractal Generator
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
