[Desktop Entry]
Exec=kfractgen %f
Icon=fractgen
MimeType=application/x-fractgen
Name=KFractGen
GenericName[de]=KDE Fraktalgenerator
GenericName[nb]=KDE Fraktalgenerator
GenericName=KDE Fractal Generator
Categories=Math;Graphics;RasterGraphics;KDE
Keywords=Fractal;Mandelbrot;Math;Graphics;KDE
Keywords[de]=Fraktal;Mandelbrot;Math;Graphics;KDE
Keywords[nb]=Fraktal;Mandelbrot;Math;Graphics;KDE
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
